In [ ]:
import pandas as pd

In [ ]:
import pandas as pd

In [6]:
import numpy as np

In [8]:
df = pd.read_csv('owid-covid-data.csv')

In [19]:
print (df.head(3))

  iso_code      continent location        date  total_cases  new_cases  \
0      ABW  North America    Aruba  2020-03-13          2.0        2.0
1      ABW  North America    Aruba  2020-03-19          NaN        NaN
2      ABW  North America    Aruba  2020-03-20          4.0        2.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           0.0         0.0                  NaN  ...
1               0.286           NaN         NaN                  0.0  ...
2               0.286           0.0         0.0                  0.0  ...

   gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
0       35973.781              NaN                    NaN
1       35973.781              NaN                    NaN
2       35973.781              NaN                    NaN

   diabetes_prevalence  female_smokers  male_smokers  handwashing_facilities  \
0                11.62             NaN           NaN                     NaN
1                11.62             NaN           NaN                     NaN
2                11.62             NaN           NaN                     NaN

   hospital_beds_per_thousand  life_expectancy  human_development_index
0                         NaN            76.29                      NaN
1                         NaN            76.29                      NaN
2                         NaN            76.29                      NaN

[3 rows x 41 columns]

In [24]:
df.loc[df['continent'] == 'North America']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47942,VIR,North America,United States Virgin Islands,2020-10-09,1324.0,2.0,0.429,20.0,0.0,0.0,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
47943,VIR,North America,United States Virgin Islands,2020-10-10,1325.0,1.0,0.571,20.0,0.0,0.0,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
47944,VIR,North America,United States Virgin Islands,2020-10-11,1325.0,0.0,0.571,20.0,0.0,0.0,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
47945,VIR,North America,United States Virgin Islands,2020-10-12,1325.0,0.0,0.571,20.0,0.0,0.0,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
47946,VIR,North America,United States Virgin Islands,2020-10-13,1325.0,0.0,0.571,20.0,0.0,0.0,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN

In [25]:
df.loc[df['total_cases'] > 50]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
14,ABW,North America,Aruba,2020-04-01,55.0,5.0,5.429,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
15,ABW,North America,Aruba,2020-04-02,55.0,0.0,5.143,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
16,ABW,North America,Aruba,2020-04-03,60.0,5.0,4.571,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
17,ABW,North America,Aruba,2020-04-04,62.0,2.0,4.857,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
18,ABW,North America,Aruba,2020-04-05,64.0,2.0,5.143,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49873,NaN,NaN,International,2020-10-09,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49874,NaN,NaN,International,2020-10-10,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49875,NaN,NaN,International,2020-10-11,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49876,NaN,NaN,International,2020-10-12,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49877,NaN,NaN,International,2020-10-13,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.loc[df['total_cases'] > 1000000]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
6589,BRA,South America,Brazil,2020-06-20,1032913.0,54771.0,29157.571,48954.0,1206.0,1018.000,...,14103.452,3.4,177.961,8.11,10.100,17.900,NaN,2.200,75.88,0.759
6590,BRA,South America,Brazil,2020-06-21,1067579.0,34666.0,31009.286,49976.0,1022.0,1036.571,...,14103.452,3.4,177.961,8.11,10.100,17.900,NaN,2.200,75.88,0.759
6591,BRA,South America,Brazil,2020-06-22,1085038.0,17459.0,31059.143,50617.0,641.0,1040.714,...,14103.452,3.4,177.961,8.11,10.100,17.900,NaN,2.200,75.88,0.759
6592,BRA,South America,Brazil,2020-06-23,1106470.0,21432.0,31171.286,51271.0,654.0,1044.571,...,14103.452,3.4,177.961,8.11,10.100,17.900,NaN,2.200,75.88,0.759
6593,BRA,South America,Brazil,2020-06-24,1145906.0,39436.0,31816.714,52645.0,1374.0,1057.714,...,14103.452,3.4,177.961,8.11,10.100,17.900,NaN,2.200,75.88,0.759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49585,OWID_WRL,NaN,World,2020-10-09,36611917.0,387973.0,320160.286,1063243.0,9118.0,5606.714,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.13,2.705,72.58,NaN
49586,OWID_WRL,NaN,World,2020-10-10,36956458.0,344541.0,323840.714,1068963.0,5720.0,5633.286,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.13,2.705,72.58,NaN
49587,OWID_WRL,NaN,World,2020-10-11,37296383.0,339925.0,328909.571,1073683.0,4720.0,5633.143,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.13,2.705,72.58,NaN
49588,OWID_WRL,NaN,World,2020-10-12,37602785.0,306402.0,332232.000,1077720.0,4037.0,5643.429,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.13,2.705,72.58,NaN
49589,OWID_WRL,NaN,World,2020-10-13,37875422.0,272637.0,332831.571,1081632.0,3912.0,5566.143,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.13,2.705,72.58,NaN

In [37]:
df.groupby(['total_cases']).mean().sort_values('total_deaths', ascending=False)

,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
total_cases,,,,,,,,,,,,,,,,,,,,,
37875422.0,272637.000000,332831.571000,1.081632e+06,3912.000000,5566.143000,4859.064000,34.977000,42.699000,138.763000,0.502000,...,15469.207000,10.000000,233.070000,8.510000,6.434000,34.635000,60.130000,2.705000,72.580000,NaN
37602785.0,306402.000000,332232.000000,1.077720e+06,4037.000000,5643.429000,4824.087000,39.309000,42.622000,138.261000,0.518000,...,15469.207000,10.000000,233.070000,8.510000,6.434000,34.635000,60.130000,2.705000,72.580000,NaN
37296383.0,339925.000000,328909.571000,1.073683e+06,4720.000000,5633.143000,4784.778000,43.609000,42.196000,137.744000,0.606000,...,15469.207000,10.000000,233.070000,8.510000,6.434000,34.635000,60.130000,2.705000,72.580000,NaN
36956458.0,344541.000000,323840.714000,1.068963e+06,5720.000000,5633.286000,4741.169000,44.201000,41.546000,137.138000,0.734000,...,15469.207000,10.000000,233.070000,8.510000,6.434000,34.635000,60.130000,2.705000,72.580000,NaN
36611917.0,387973.000000,320160.286000,1.063243e+06,9118.000000,5606.714000,4696.968000,49.773000,41.074000,136.404000,1.170000,...,15469.207000,10.000000,233.070000,8.510000,6.434000,34.635000,60.130000,2.705000,72.580000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15.0,0.945455,0.486844,1.318182e-01,0.009091,0.002711,149.719795,3.495882,1.763474,0.999091,0.027014,...,23157.621167,17.736364,234.946008,10.880829,12.766176,30.025000,54.893600,2.872615,74.972557,0.753750
3.0,0.327902,0.114603,9.572301e-02,0.006110,0.004395,86.199287,0.793175,0.418298,0.197428,0.035568,...,15864.061737,19.352247,259.271345,7.907279,9.351485,30.691045,47.344185,2.222736,76.361772,0.681012
2.0,0.477987,0.157766,5.031447e-02,0.018868,0.007772,13.427531,2.872233,0.255603,0.002821,0.002091,...,14987.611480,16.052451,275.292664,7.497197,12.479293,38.606599,42.810148,3.143681,71.571073,0.681022
1.0,0.219200,0.060901,9.600000e-03,0.004800,0.000000,27.705416,3.229176,0.069365,0.002270,0.002160,...,17078.322800,12.540431,268.822043,7.582835,10.111579,33.153165,45.711268,2.822833,72.572733,0.692007
0.0,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,32320.611547,2.158839,234.474193,7.760927,13.304276,32.334771,73.516193,3.653659,77.524180,0.812030

In [39]:
df.tail(3)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
49875,NaN,NaN,International,2020-10-11,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49876,NaN,NaN,International,2020-10-12,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49877,NaN,NaN,International,2020-10-13,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df.head(3)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN

In [41]:
print(df.tail(3))

      iso_code continent       location        date  total_cases  new_cases  \
49875      NaN       NaN  International  2020-10-11        696.0        NaN
49876      NaN       NaN  International  2020-10-12        696.0        NaN
49877      NaN       NaN  International  2020-10-13        696.0        NaN

       new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
49875                 NaN           7.0         NaN                  NaN  ...
49876                 NaN           7.0         NaN                  NaN  ...
49877                 NaN           7.0         NaN                  NaN  ...

       gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
49875             NaN              NaN                    NaN
49876             NaN              NaN                    NaN
49877             NaN              NaN                    NaN

       diabetes_prevalence  female_smokers  male_smokers  \
49875                  NaN             NaN           NaN
49876                  NaN             NaN           NaN
49877                  NaN             NaN           NaN

       handwashing_facilities  hospital_beds_per_thousand  life_expectancy  \
49875                     NaN                         NaN              NaN
49876                     NaN                         NaN              NaN
49877                     NaN                         NaN              NaN

       human_development_index
49875                      NaN
49876                      NaN
49877                      NaN

[3 rows x 41 columns]

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49878 entries, 0 to 49877
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         49590 non-null  object
 1   continent                        49302 non-null  object
 2   location                         49878 non-null  object
 3   date                             49878 non-null  object
 4   total_cases                      49242 non-null  float64
 5   new_cases                        49018 non-null  float64
 6   new_cases_smoothed               48236 non-null  float64
 7   total_deaths                     49242 non-null  float64
 8   new_deaths                       49018 non-null  float64
 9   new_deaths_smoothed              48236 non-null  float64
 10  total_cases_per_million          48954 non-null  float64
 11  new_cases_per_million            48954 non-null  float64
 12  new_cases_smoothed_per_million   48171 non-null  float64
 13  total_deaths_per_million         48954 non-null  float64
 14  new_deaths_per_million           48954 non-null  float64
 15  new_deaths_smoothed_per_million  48171 non-null  float64
 16  new_tests                        18041 non-null  float64
 17  total_tests                      18466 non-null  float64
 18  total_tests_per_thousand         18466 non-null  float64
 19  new_tests_per_thousand           18041 non-null  float64
 20  new_tests_smoothed               20431 non-null  float64
 21  new_tests_smoothed_per_thousand  20431 non-null  float64
 22  tests_per_case                   18809 non-null  float64
 23  positive_rate                    19271 non-null  float64
 24  tests_units                      21288 non-null  object
 25  stringency_index                 41425 non-null  float64
 26  population                       49590 non-null  float64
 27  population_density               47307 non-null  float64
 28  median_age                       44445 non-null  float64
 29  aged_65_older                    43781 non-null  float64
 30  aged_70_older                    44214 non-null  float64
 31  gdp_per_capita                   43863 non-null  float64
 32  extreme_poverty                  29251 non-null  float64
 33  cardiovasc_death_rate            44432 non-null  float64
 34  diabetes_prevalence              46027 non-null  float64
 35  female_smokers                   34743 non-null  float64
 36  male_smokers                     34300 non-null  float64
 37  handwashing_facilities           20871 non-null  float64
 38  hospital_beds_per_thousand       40097 non-null  float64
 39  life_expectancy                  48960 non-null  float64
 40  human_development_index          42883 non-null  float64
dtypes: float64(36), object(5)
memory usage: 15.6+ MB

In [43]:
df.total_cases.max()

37875422.0

In [44]:
df.total_cases.min()

0.0

In [45]:
df.total_cases.mean()

117488.68547175176

In [46]:
df[df.location== "Brazil"]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
6417,BRA,South America,Brazil,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
6418,BRA,South America,Brazil,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
6419,BRA,South America,Brazil,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
6420,BRA,South America,Brazil,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
6421,BRA,South America,Brazil,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6700,BRA,South America,Brazil,2020-10-09,5028444.0,27750.0,25907.429,148957.0,729.0,611.000,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
6701,BRA,South America,Brazil,2020-10-10,5055888.0,27444.0,25052.143,149639.0,682.0,607.286,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
6702,BRA,South America,Brazil,2020-10-11,5082637.0,26749.0,25114.857,150198.0,559.0,601.571,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
6703,BRA,South America,Brazil,2020-10-12,5094982.0,12345.0,25670.429,150488.0,290.0,590.857,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
6704,BRA,South America,Brazil,2020-10-13,5103408.0,8426.0,25167.571,150689.0,201.0,573.429,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759

In [49]:
df.groupby('total_cases').total_cases.max().sort_values()

total_cases
0.0                  0.0
1.0                  1.0
2.0                  2.0
3.0                  3.0
4.0                  4.0
                 ...
36611917.0    36611917.0
36956458.0    36956458.0
37296383.0    37296383.0
37602785.0    37602785.0
37875422.0    37875422.0
Name: total_cases, Length: 18777, dtype: float64

In [50]:
import matplotlib.pylab as plt

In [60]:
df.loc[df['life_expectancy'] > 77]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
704,AIA,North America,Anguilla,2020-03-27,2.0,2.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
705,AIA,North America,Anguilla,2020-03-28,2.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
706,AIA,North America,Anguilla,2020-03-29,2.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
707,AIA,North America,Anguilla,2020-03-30,2.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
708,AIA,North America,Anguilla,2020-03-31,2.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47942,VIR,North America,United States Virgin Islands,2020-10-09,1324.0,2.0,0.429,20.0,0.0,0.0,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
47943,VIR,North America,United States Virgin Islands,2020-10-10,1325.0,1.0,0.571,20.0,0.0,0.0,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
47944,VIR,North America,United States Virgin Islands,2020-10-11,1325.0,0.0,0.571,20.0,0.0,0.0,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
47945,VIR,North America,United States Virgin Islands,2020-10-12,1325.0,0.0,0.571,20.0,0.0,0.0,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
47946,VIR,North America,United States Virgin Islands,2020-10-13,1325.0,0.0,0.571,20.0,0.0,0.0,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN